.index{overflow: hidden;}
.picture{width: 120px;height: 130px; float: left; } 
.picture img{ width: 120px; height: 120px;}
.welcome{ width: 320px; margin-left: 20px; float: left;}
.welcome_top{font-size: 16px; margin-bottom: 12px;}
.line{border-right: 1px solid #ddd;}
.data{line-height: 31px;font-size: 12px; display: inline;overflow: hidden;}
.data_1{float: left; margin-left: 12px;}
.data_2{float: left;}
#bar{background:#f40;  float:left; height:100%;  text-align:center;} 
#bar1{background:#f40;  float:left; height:100%;  text-align:center; } 
#total{position: absolute;margin-left: -160px;line-height: 1.9em;color: #fff;}
.progress{position:relative;width:155px;background-color: #f2f2f2;  height:20px;float: left; margin:0 10px;}
.progress_1{position:relative;background-color: #f2f2f2;width:140px; height:20px;float: left; margin:0 11px;}
.points{width: 130px;float: left;}
.head{font-size: 14px; text-align: center;margin-top: 15px;}
.count{color: #ff3636; font-size: 18px;text-align: center;line-height:3.2em;border-right: 1px solid  #ddd;}
.count span{font-size: 12px;color: #666; }
.detail{font-size: 12px;color: #666; background-color: #fff; border: 1px solid #999; border-radius: 3px; padding: 3px 8px;margin-left: 35px;}
.member{ margin-left: 30px;margin-top: -10px;}
.remind{width: 860px; overflow: hidden; margin-top: 20px;}
.warm{float: left; margin-right: 60px;}
.warm_1{float: left; color: #666;}
.warm_1 span{ color: #f40;font-size: 12px; margin: 0 15px; border-right: 1px solid #666;padding-right: 20px;}
.warm_2{float: right;color: #bd0202; font-size: 12px;}
.table{ width: 860px; border:1px solid #ccc; margin-top: 15px;}
.ta_tr{ background-color: #e5e5e5;overflow: hidden; font-size: 13px; color: #333;line-height: 3em;}
.ta_tr div{float: left;}
.ta_td1{width: 380px;text-align: center;}
.ta_td2{width: 110px;text-align: center;}
.ta_td3{width: 130px;text-align: center;}
.ta_td4{width: 110px;text-align: center;}
.ta_td5{width: 130px;text-align: center;}
.ta_tr2{background-color: #f5f5f5;font-size: 12px; color: #666; line-height: 3em; }
.ta_tr3{font-size: 12px; color: #666; line-height: 2em;overflow: hidden; }
.ta_tr3 div{float: left;}
.ta_td6{width: 380px;text-align: center; margin-top: 10px; }
.media-left{ margin-left: 10px;}
.media-body{ margin-left: 10px;margin-top:10px;line-height: 3em;}
.ta_td7{width: 110px;text-align: center;margin-top: 40px;}
.ta_td8{width: 130px;text-align: center;margin-top: 25px;}
.ta_td9{width: 130px;text-align: center;margin-top: 20px;line-height: 2em;}
.btn{ background-color:#f40; width: 70px;height: 28px; border-radius: 5px;color: #fff; font-size: 12px; border: none;}
#totalCount{ float: right; margin-top: 20px; font-size: 12px;}

.table span {
	color: #f40;
}
.number span {
	color: #f40;
	margin-left: 5px;
}
.table {
	width: 888px;
 	margin-top: 15px;
 
}
.table table td {background: #fff; text-align: center;}
.table table th{
	padding: 5px;
	background:#efefef;
}
.table table .booking-summary{
	margin-top: 10px;
	padding: 5px 15px;
	text-align: right;
}
.table table .booking-button{
	width: 120px;
	margin: 10px 0px;
}