<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
	<style>
		#category2{
			width: 20%;
			background-color: #f8f8f8;
			height: 100%;
		}
		li{
			list-style: none;
			height:6%;
			margin: auto;
			padding-top: 5%;
		}
		li a {
			text-align: center;
			color: black;


		}
	</style>
</head>
<body>
<?php $cd=2;?>
<include file="./Application/M/View/Common/foot.htm" />
<ul style="transform: translateY(0px);" id="category2">
	<li class="cur"  id="category6" >
	<a class="J_ping" href="">热门推荐</a>
	</li>
	<li class="cur"  id="category6" >
	<a class="J_ping" href="">热门推荐</a>
	</li>
	<li class="cur"  id="category6" >
	<a class="J_ping" href="">热门推荐</a>
	</li>
	<li class="cur"  id="category6" >
	<a class="J_ping" href="">热门推荐</a>
	</li>
	<li class="cur"  id="category6" >
	<a class="J_ping" href="">热门推荐</a>
	</li>


	</ul>
</body>
</html>