<div id="menu" class="menu">
    <div id="one" class="subMenu text-center" data-src="">
        <a href="__CONTROLLER__/index">
        <img src="__PUBLIC__/index_files1/首页icon.png" class="menu_img" data-imgname="1">
        <div class="menu_name">首页</div>
        </a>
    </div>
    <div id="two" class="subMenu text-center">

        <img src="__PUBLIC__/index_files1/类别icon.png" class="menu_img" data-imgname="2">
        <div class="menu_name">类别</div>
    </div>
    <div id="three" class="subMenu text-center" data-src="personal.html">
        <a href="__CONTROLLER__/car">
        <img src="__PUBLIC__/index_files1/购物车icon.png" class="menu_img" data-imgname="3">
        <div class="menu_name">购物车</div></a>
    </div>
    <div id="four" class="subMenu text-center" data-src="personal.html">
        <a href="__CONTROLLER__/grzx">
        <img src="__PUBLIC__/index_files1/个人中心icon.png" class="menu_img" data-imgname="4">
        <div class="menu_name">个人中心</div>
        </a>
    </div>

</div> <!--底部菜单-->
<style>
    .menu {
        z-index:9999;
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: auto;
        color: #474747;
        padding-top: 10px;
        border-top: 1px solid #eee;
        background-color: #fff;
    }

    .subMenu {
        width: 25%;
        float: left;
        cursor: pointer;
    }

    .menu_name {
        height: 30px;
        width: 100%;
        line-height: 30px;
    }

    img.menu_img {
        height: 24px;
        width: 24px;
    }

    .menu img {
        margin: auto;
        vertical-align: middle;
        border: 0;
    }

    /*.active {*/
    /*color: #FFA129;*/
    /*}*/

    .text-center {
        text-align: center
    }

</style>