/*微信咨询*/
*html,*html body{background-image:url(about:blank);background-attachment:fixed}
.bodybg {width: 100%; height: 100%; position: fixed;_position:absolute; background-color: #000; opacity: 0.6; filter:alpha(opacity=60);  top: 0 ;left: 0; z-index: 2147483648; _background:url(/images/bg_black.png) repeat;  _top:expression(eval(document.documentElement.scrollTop)); _height:expression(eval(document.documentElement.clientHeight)); }
#wechat {width: 492px; height: 318px; background: url(/images/wechat.png) top center no-repeat; position: fixed;_position:absolute; top: 50%;_top:expression(eval(document.documentElement.scrollTop + (document.documentElement.clientHeight-130)/2)); _height:expression(eval(document.documentElement.clientHeight));
margin-top: -159px; left: 50%; margin-left: -246px; z-index: 2147483648; }   
#wechat p.addwc {font-size: 16px; line-height:26px ; color: #575757; width: 165px; padding: 160px 0 0 250px;}
#wechat p.addwc b { color:#ff4e02 }
#wechat input {width: 126px; height: 20px; font-size: 12px; line-height: 20px; border: none; position: absolute; top: 275px;left: 191px;text-indent:1em; color: #6a6a6a; _border:0}
#wechat .consultonline {left: 98px; top:275px;}
#wechat .consultonline,#wechat .callbackg {width: 80px; height: 20px; position: absolute;}
#wechat .callbackg {left: 319px; top:275px; }
#wechat  .close {width: 20px; height: 20px; display: block; position: absolute; right:58px; top:19px;} 



/* CSS Document */
.swt_small{ width:122px; height:352px; position:fixed; top:100px; right:0; _position: absolute;
_top: expression(eval(document.documentElement.scrollTop));_margin-top: expression(eval((document.documentElement.clientHeight-470)));}
.swt_qrcode{position:absolute; top:145px; left:16px;}
.swt_tel{font-size:14px; font-family: microsoft-yahei; font-weight:blod; color:#ff5363; position:absolute; top:286px; left:15px; *left:10px; margin:0; line-height: 18px; height: 18px; background: #FFFFFF; }
.swt_btn{width:96px; height:27px; cursor:pointer; position:absolute; bottom:12px; left:13px; display:block;}

.swt_big{width:495px; height:311px;  position:fixed; top:0; bottom:0; left:0; right:0; margin:auto; 
_position:absolute; _left:50%; _margin-left:-247px; *left:50%; *margin-left:-247px; _top:100px; *top:100px;}
.ipt_tel{width:124px; height:16px; line-height:16px; font-size:12px; text-align:left; position:absolute; left:82px;bottom:20px; *bottom:19px; border:0; 
outline:none;}
.btn_zx,.btn_hb,.swt_close,.btn_qq{display:block; position:absolute; cursor:pointer;}
.btn_zx{right:79px; width:120px; height:31px; bottom:14px;}
.btn_hb{right:208px; width:80px; height:22px; bottom:18px;}
.swt_close{width:20px; height:20px; right:63px; top:16px;}
.big_qrcode{width:138px; height:138px; position:absolute; top:98px; left:91px;}
.gzh{color:#ff5363; font-size:18px; line-height:18px; font-family:arial,"microsoft-yahei"; position:absolute; top:194px; left:242px; margin:0; height: 18px; background: #FFFFFF; }
.btn_qq{width:39px; height:48px; bottom:84px; right:75px;}
/*售前售后*/
.chatUl{background: #fff;width:96px;height: 75px;position: absolute;left: -98px;bottom:1px;border: 1px solid #ddd;border-bottom: none;margin: 0px;padding: 0px;font-size: 14px;}
.chatUl li{width:96px;height:37px;border-bottom:1px solid #ddd;cursor:pointer;line-height: 37px;list-style: none;list-style-type: none;}
.chatUl li em,#chat_box1 em,.lyclose,.serclose{background: url(//mswt2.jianke.com/Images/swt_icon.png) no-repeat;}
#chat_box1 em,.chatUl li em,.chatser dd label{float: left;_display: inline !important}
.chatUl li em{width:20px;height: 18px;background-position: -42px -63px;display: block;margin:9px 5px 0 12px;}