/*2015.5.22 @sam
* reset
*/

@media screen and (min-width: 320px) {
    html {
        font-size: 42.6666666666667px;
    }
}

@media screen and (min-width: 375px) {
    html {
        font-size: 50px;
    }
}

@media screen and (min-width: 360px) {
    html {
        font-size: 48px;
    }
}

@media screen and (min-width: 414px) {
    html {
        font-size: 50.2px;
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 136.533333333333px;
    }
}

body {
    margin: 0;
    padding: 0;
    color: #333;
    background: #fff;
    font: 14px/1.2 "\5FAE\8F6F\96C5\9ED1", Verdana, Arial, Helvetica, sans-serif;
}

html,
div,
span,
iframe,
h1,
h2,
h4,
h3,
h5,
h6,
p,
img,
dd,
dt,
dl,
nav,
textarea,
button,
input,
select,
em,
i,
s,
strong,
ul,
li {
    padding: 0;
    margin: 0;
    border: none;
}

html * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.deal::-webkit-textfield-decoration-container {
    background-color: #f0f3f9;
}

.deal::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.deal::-webkit-outer-spin-button {
    -webkit-appearance: none;
    /* 有无看不出差别 */
}

select,
input {
    -webkit-appearance: none;
}

img {
    padding: 0;
    margin: 0;
    vertical-align: top;
}

ul,
li {
    list-style: none outside none;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6,
textarea,
button,
input,
select {
    font-size: 100%;
    font-weight: normal;
}

em,
i,
s,
strong {
    font-weight: normal;
    font-style: normal;
}

a {
    color: #252525;
    text-decoration: none;
}

a:visited,
a:hover {
    text-decoration: none;
}


/*
*  清楚浮动
*/

.clear {
    clear: both;
    height: 0;
    width: 100%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    zoom: 1;
    clear: both;
}

.gray {
    color: #aaaaaa;
}

.black {
    color: #252525;
}

.fl {
    float: left;
}

.fr {
    float: right;
}