@charset "utf-8";
/********** 初始化 **********/
/*去除默认边距*/
html,body,header,section,footer,p,article,nav,aside,dialog,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,textarea {margin: 0; padding: 0;}
/*阻止旋转屏幕时自动调整字体大小*/
html,body,form,fieldset,p,div,h1,h2,h3,h4,h5,h6 {-webkit-text-size-adjust: 100%;}
body {min-width: 320px;font: 14px/150% "微软雅黑", Verdana, Arial, Helvetica, sans-serif;color: #000;-webkit-text-size-adjust: none;padding:0; margin:0;background-color:white;}
h1,h2,h3,h4,h5,h6,strong {font-weight: normal;font-size: 100%;}
em {font-style: normal;}
ul,ol,li {list-style-type: none;}
table {border-collapse: collapse;border-spacing: 0;}
a {text-decoration: none;color: #000;}
a:visited,a:hover {text-decoration: none;}
input,button,select {-webkit-appearance: none;appearance: none;}
img{vertical-align:text-top;}
textarea {resize: none;}
/* 禁止长按链接与图片弹出菜单 */
a,img {-webkit-touch-callout: none;touch-callout: none;}
/*去掉手持设备点击时出现的透明层*/
a,button,input {-webkit-tap-highlight-color: transparent;tap-highlight-color: transparent;}
input{outline:0;border:0;}
/********** 公共样式 **********/
/*伸缩的盒子*/
.box {display: -webkit-box;display: -webkit-flex;display: box;display: flex;}
.flex1 {-webkit-flex: 1;-webkit-box-flex: 1;box-flex: 1;flex: 1;}
.flex2 {-webkit-flex: 2;-webkit-box-flex: 2;box-flex: 2;flex: 2;}
.flex3 {-webkit-flex: 3;-webkit-box-flex: 3;box-flex: 3;flex: 3;}
/*box-sizing包括边框的宽度*/
.box-sizing {-moz-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box;}
/*图片大小自适应*/
.img,img {width: 100%;margin:0;padding:0; vertical-align:top;display:block;}
/*文字超出隐藏*/
.text-elli {overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
/*清除浮动样式*/
.clear {clear: both;height: 0;overflow: hidden;}
.clearfix{zoom: 1; clear:both;}
.clearfix:after {display: block;height: 0;overflow: hidden;content: " ";visibility: hidden;clear: both;}
.fl{float: left;}
.fr{float: right;}
.hidden{display: none;}
.block{display: block;}
.none{display:none;}
/*********** screen配置 ***********/
/* media查询，设置htmlfont-size值 */
@media screen and (max-width: 320px) {
  /*设备宽度在320区间的样式*/
  html {

    font-size: 42.666666666667px;
  }
}
@media screen and (min-width: 321px) and (max-width: 375px) {
  /*设备宽度在321-375区间的样式(iphone6)*/
  html {
    font-size: 50px;
  }
}
@media screen and (min-width: 376px) and (max-width: 414px) {
  /*设备宽度在376-414区间的样式(iphone6+)*/
  html {
    font-size: 55.2px;
  }
}
@media screen and (min-width: 415px) and (max-width: 480px) {
  /*设备宽度在415-480区间的样式*/
  html {
    font-size: 64px;
  }
}
@media screen and (min-width: 481px) and (max-width: 540px) {
  /*设备宽度在481-540区间的样式*/
  html {
    font-size: 72px;
  }
}
@media screen and (min-width: 541px) and (max-width: 640px) {
  /*设备宽度在541-640区间的样式*/
  html {
    font-size: 85.3333333333333px;
  }
}
@media screen and (min-width: 641px) and (max-width: 720px) {
  /*设备宽度在641-720区间的样式*/
  html {
    font-size: 96px;
  }
}
@media screen and (min-width: 721px) and (max-width: 750px) {
  /*设备宽度在721-750区间的样式*/
  html {
    font-size: 100px;
  }
}
@media screen and (min-width: 751px) {
  /*设备宽度在751以上的样式*/
  html {
    font-size: 100px;
  }
}

.pt5 {padding-top:5px;}
.pb5 {padding-bottom:5px;}

.k-module{}
.empty-module {margin-top:5px;margin-bottom:5px;background-color:#cbcbcb;min-height:50px;}


