<div class="page-sidebar" id="sidebar">
                <!-- Page Sidebar Header-->
                <div class="sidebar-header-wrapper">
                    <input class="searchinput" type="text">
                    <i class="searchicon fa fa-search"></i>
                    <div class="searchhelper">Search Reports, Charts, Emails or Notifications</div>
                </div>
                <!-- /Page Sidebar Header -->
                <!-- Sidebar Menu -->
                <ul class="nav sidebar-menu">
                    <!--Dashboard-->
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-user"></i>
                            <span class="menu-text">管理员管理</span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="__MODULE__/admin/lst">
                                    <span class="menu-text">管理员列表</span>
                                    <i class="menu-expand"></i>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-shopping-cart"></i>
                            <span class="menu-text">商品模块</span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="__MODULE__/Cate/lst">
                                    <span class="menu-text">分类管理</span>
                                    <i class="menu-expand"></i>
                                </a>
                            </li>
                            <!--<li>-->
                                <!--<a href="__MODULE__/Brand/lst">-->
                                    <!--<span class="menu-text">品牌管理</span>-->
                                    <!--<i class="menu-expand"></i>-->
                                <!--</a>-->
                            <!--</li>-->
                            <li>
                                <a href="__MODULE__/Goods/lst">
                                    <span class="menu-text">商品管理</span>
                                    <i class="menu-expand"></i>
                                </a>
                            </li>
                            <!--<li>-->
                                <!--<a href="__MODULE__/Type/lst">-->
                                    <!--<span class="menu-text">商品类型</span>-->
                                    <!--<i class="menu-expand"></i>-->
                                <!--</a>-->
                            <!--</li>-->
                        </ul>
                    </li>

                    <!--<li>-->
                        <!--<a href="#" class="menu-dropdown">-->
                            <!--<i class="menu-icon fa  fa-hand-o-right"></i>-->
                            <!--<span class="menu-text">导航设置</span>-->
                            <!--<i class="menu-expand"></i>-->
                        <!--</a>-->
                        <!--<ul class="submenu">-->
                            <!--<li>-->
                                <!--<a href="__MODULE__/Nav/lst">-->
                                    <!--<span class="menu-text">导航管理</span>-->
                                    <!--<i class="menu-expand"></i>-->
                                <!--</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</li>-->

                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa  fa-file-text-o"></i>
                            <span class="menu-text">文章模块</span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="__MODULE__/Category/lst">
                                    <span class="menu-text">栏目管理</span>
                                    <i class="menu-expand"></i>
                                </a>
                            </li>
                            <li>
                                <a href="__MODULE__/Article/lst">
                                    <span class="menu-text">文章管理</span>
                                    <i class="menu-expand"></i>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!--<li>-->
                        <!--<a href="#" class="menu-dropdown">-->
                            <!--<i class="menu-icon fa  fa-dashboard "></i>-->
                            <!--<span class="menu-text">广告模块</span>-->
                            <!--<i class="menu-expand"></i>-->
                        <!--</a>-->
                        <!--<ul class="submenu">-->
                            <!--<li>-->
                                <!--<a href="__MODULE__/Adpos/lst">-->
                                    <!--<span class="menu-text">广告位管理</span>-->
                                    <!--<i class="menu-expand"></i>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="__MODULE__/Ad/lst">-->
                                    <!--<span class="menu-text">广告管理</span>-->
                                    <!--<i class="menu-expand"></i>-->
                                <!--</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</li>-->

                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-users"></i>
                            <span class="menu-text">会员模块</span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">

                            <li>
                                <a href="__MODULE__/MemberLevel/lst">
                                    <span class="menu-text">会员管理</span>
                                    <i class="menu-expand"></i>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!--<li>-->
                        <!--<a href="#" class="menu-dropdown">-->
                            <!--<i class="menu-icon fa fa-thumbs-up"></i>-->
                            <!--<span class="menu-text">推荐位</span>-->
                            <!--<i class="menu-expand"></i>-->
                        <!--</a>-->
                        <!--<ul class="submenu">-->
                            <!--<li>-->
                                <!--<a href="__MODULE__/Recpos/lst">-->
                                    <!--<span class="menu-text">推荐位列表</span>-->
                                    <!--<i class="menu-expand"></i>-->
                                <!--</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</li>-->

                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-cny"></i>
                            <span class="menu-text">订单管理</span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="__MODULE__/index/dds">
                                    <span class="menu-text">订单列表</span>
                                    <i class="menu-expand"></i>
                                </a>
                                <!--<a href="__MODULE__/index/dd">-->
                                    <!--<span class="menu-text">订单需求</span>-->
                                    <!--<i class="menu-expand"></i>-->
                                <!--</a>-->
                            </li>
                        </ul>
                    </li>

                    <!--<li>-->
                        <!--<a href="#" class="menu-dropdown">-->
                            <!--<i class="menu-icon fa fa-gear"></i>-->
                            <!--<span class="menu-text">系统管理</span>-->
                            <!--<i class="menu-expand"></i>-->
                        <!--</a>-->
                        <!--<ul class="submenu">-->
                            <!--<li>-->
                                <!--<a href="__MODULE__/Config/config">-->
                                    <!--<span class="menu-text">站点配置</span>-->
                                    <!--<i class="menu-expand"></i>-->
                                <!--</a>-->
                                <!--<a href="__MODULE__/Config/lst">-->
                                    <!--<span class="menu-text">配置列表</span>-->
                                    <!--<i class="menu-expand"></i>-->
                                <!--</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</li>-->



                    <li>
                        <a href="__MODULE__/index/ip" class="menu-dropdown">
                            <i class="menu-icon fa fa-gear"></i>
                            <span class="menu-text">访客统计</span>
                            <i class="menu-expand"></i>
                        </a>
                    </li>





                </ul>
                <!-- /Sidebar Menu -->
            </div>